*{
    padding: 20px;
}
.submit-area {

    margin-top: 50px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 10px;
}
#trangaction-area{
    display: none;
}

.status{
    border-radius: 10px;
    color: white;
    margin:0 20px;  
    padding: 10px;
}
.balance{
background-color: #4275f5;
}
.deposite{
background-color: aqua;
}
.withrow{
background-color: orange;
}
h2{
    font-size: 80px;
}
h5{
    font-size: 40px;
}